@import url('https://fonts.googleapis.com/css2?family=Glory&family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&family=Titillium+Web:wght@400;700&display=swap');

:root {
    --main-font: 'Titillium Web', sans-serif;
}

* {
    margin: 0;
}

html { 
    background: url('images/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Fix chrome bug of auto transition after page load */
.preload * {transition: none !important;
  }

body {
    font-family: var(--main-font);
    
    width: 408;
    height: 480;
    margin: max(calc(49.5vh - 240px), 0px) auto;
    gap: 13px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    background: linear-gradient(190deg, rgba(255, 255, 255, 0.32), rgba(114, 95, 82, 0.32));
    box-shadow: 0px 4px 23px 12px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}

#header-container {
    background: linear-gradient(229.15deg, rgba(52, 62, 50, 0.77) 11.22%, rgba(61, 58, 46, 0.78) 73.18%);
    border-radius: 0px 0px 10px 10px;

    display: flex;
    flex-direction: row;
    padding: 10px 20px 15px 20px;
    gap: 20px;
}

h1 {
    color: white;

    font-weight: 600;
    font-size: 26px;

    margin: 7 0 7px;
}

#nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 0px;
    gap: 13px;
}

#nav-container li {
    list-style: none;
    text-align: center;
    padding: 5px 0px 10px;

    background: rgba(241, 227, 224, 0.5);
    border-radius: 10px;
    transition: 300ms;
}

.button-text {
    color: #1a1d1c;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(227, 223, 217, 0.2);
    margin: 50px 0px 50px;
    padding: 4px 15px 10px;
}

#nav-container li:hover {
    animation-name: button;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 0px 4px rgba(158, 157, 157, 0.5);
    border-radius: 10px;
}

@keyframes button {
    0% {
        background: rgba(255, 255, 255, 0.3);
    }
    100% {
        background: rgba(65, 70, 70, 0.56);
    }
}

#footer-container {
    font-family: 'Glory';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.6;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.48);
    margin-top: 10px;
}